<html>
<head>
<title>multiple-choice quiz form</title>
</head>
<body bgcolor=#ffffff>

<h3>Pub Quiz</h3>

<form method="post" action="/EndQuiz" enctype="text/plain">

Check the answer to each multiple-coice question, and click on the "Send Form" button to submit the information.

<P>1. Which actress plays a major role on the TV show 'The Big Bang Theory'?<BR> <!--answer=Kaley Cuoco-->
<input type="radio" name="Q1" value="Sofia Vergara" required>Sofia Vergara<BR>
<input type="radio" name="Q1" value="Kaley Cuoco">Kaley Cuoco<BR>
<input type="radio" name="Q1" value="Emily Deschanel">Emily Deschanel<BR>
<input type="radio" name="Q1" value="Portia de Rossi">Portia de Rossi<BR>
</p>

<P>2. Which of these cities is closest to London, UK?<BR> <!--answer=Boston-->
<input type="radio" name="Q2" value="Boston" required>Boston<BR>
<input type="radio" name="Q2" value="Atlanta">Atlanta<BR>
<input type="radio" name="Q2" value="New York">New York<BR>
<input type="radio" name="Q2" value="Miami">Miami<BR>
</p>

<P>3. Which movie was the first to win 11 Academy Awards?<BR> <!--answer=Ben-Hur-->
<input type="radio" name="Q3" value="Titanic" required>Titanic<BR>
<input type="radio" name="Q3" value="La La Land">La La Land<BR>
<input type="radio" name="Q3" value="Ben-Hur">Ben-Hur<BR>
<input type="radio" name="Q3" value="Sound of Music">Sound of Music<BR>
</p>

<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">

<p>Sign up to find out how you did!</p>
<div id="contact-form">
    <form method="post" action="/signup">
        <label for="email">Email address:</label>
        <input type="email" id="email" name="email" required="required">
      <form action="finished.html" method="get">
        <input type="submit" value="Submit" id="submit-button">
      </form>
    </form>

</form>
</div>
</form>
</body>
</html>
